# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule OpenXchangeClient.Api.ICal do
  @moduledoc """
  API calls for all endpoints tagged `ICal`.
  """

  alias OpenXchangeClient.Connection
  import OpenXchangeClient.RequestBuilder

  @doc """
  Probe to check given ICal calendar properties before creating a new account.

  ## Parameters

  - connection (OpenXchangeClient.Connection): Connection to server
  - session (String.t): A session ID previously obtained from the login module.
  - body (CalendarAccountProbeData): The properties to check. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, OpenXchangeClient.Model.CalendarAccountProbeResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec probe(
          Tesla.Env.client(),
          String.t(),
          OpenXchangeClient.Model.CalendarAccountProbeData.t(),
          keyword()
        ) ::
          {:ok, OpenXchangeClient.Model.CalendarAccountProbeResponse.t()}
          | {:error, Tesla.Env.t()}
  def probe(connection, session, body, _opts \\ []) do
    %{}
    |> method(:put)
    |> url("/chronos/account?action&#x3D;probe")
    |> add_param(:query, :session, session)
    |> add_param(:body, :body, body)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      {200, %OpenXchangeClient.Model.CalendarAccountProbeResponse{}}
    ])
  end
end
